.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgb(253, 253, 255);
}

.sidenavtextcolor {
  color: rgb(0, 0, 0);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(42, 96, 245);
}

.headertextcolor{
  color: rgb(255, 255, 255);
}

.example-spacer {
  flex: 1 1 auto;
}


/* footer */
.footer-demo {
  height: 100%; /* Angular material adds "height:100%" to body tag by default. So, ignore this step in real-time application */
}

.demo-section {
  border: 1px solid #bbb;
}

footer {
  background-color: #ddd;
  border-top: 1px solid #bbb;
  text-align: center;
}

#clickFooter footer:hover {
  background-color: #ccc;
  cursor: pointer;
}

#btmFooter {
  align-self: flex-end;
}

#clickFooter {
  position: relative;
}